.curs{
    font-family: 'Nothing You Could Do', cursive;
}
.work{
    font-family: 'Work Sans', sans-serif;
}
.robot{
    font-family: 'Roboto', sans-serif;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
